
body{
    background-color: rgba(100,90,90,0.2);
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', cursive;
}
.card-img{
    width: 90%;
}
.card{
    width: 25vw;
    height: 55vh;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(120,120,120,0.2);
    box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);
    transition: 1.2s ease-in-out;
    margin-bottom: 2%;
    font-family: 'Playfair-Display' ;
}
.card-title{
    font-size: 2.2rem;
    text-transform: uppercase;
    box-shadow: 12px 12px 5px 1px rgba(0, 0, 255, .2);
}
.card-desc{
    font-size: 1.3rem;
    margin-left: 5%;
    margin-right: 5%;
    text-align: center;
}
.flex-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.title{
    text-align: center;
    font-size: 2.5rem;
    margin-top: 2%;
}
.card:hover{
    transform: translateY(-1.5rem);
    transition: 0.2s all;
}